In [1]:
import numpy as np
import pandas as pd

In [8]:
# Níveis de Índice
outside = ('G1 G1 G1 G2 G2 G2').split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
#Hierarquia multinível do Pandas
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [12]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])

In [13]:
df

             A         B
G1 1  1.139069 -1.762534
   2  0.450972  0.060032
   3 -0.366400 -2.198601
G2 1 -0.445134  0.084029
   2 -0.472995 -0.541485
   3  0.558572  0.389851

In [26]:
df.loc['G1',1]

A    1.139069
B   -1.762534
Name: (G1, 1), dtype: float64

In [25]:
df.loc['G1',1]['A']

1.1390686660736133

In [29]:
df.loc['G1'].loc[1]

A    1.139069
B   -1.762534
Name: 1, dtype: float64

In [28]:
df.loc['G1'].loc[1]['A']

1.1390686660736133

In [31]:
df.index.names = ['Grupo','Numero']

In [32]:
df

                     A         B
Grupo Numero
G1    1       1.139069 -1.762534
      2       0.450972  0.060032
      3      -0.366400 -2.198601
G2    1      -0.445134  0.084029
      2      -0.472995 -0.541485
      3       0.558572  0.389851

In [33]:
df.xs('G1')

               A         B
Numero
1       1.139069 -1.762534
2       0.450972  0.060032
3      -0.366400 -2.198601

In [35]:
df.xs(1, level = 'Numero')

              A         B
Grupo
G1     1.139069 -1.762534
G2    -0.445134  0.084029

In [39]:
df.xs(1,level=1)

              A         B
Grupo
G1     1.139069 -1.762534
G2    -0.445134  0.084029